.ref {
  width: 60vw;
  margin: 30px auto 0px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  text-align: center;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.img {
  width: 20vw;
}

.tagWrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.imgtxt {
  font-family: sans-serif;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .ref {
    margin: 0 auto;
  }
  .tagWrap {
    flex-direction: column;
  }
  .img {
    width: 30vw;
  }
}
