html {
  background: linear-gradient(#123 30%, #667);
  position: relative;
  overflow: hidden;
  height: 100%;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}
.link {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
}
.link:hover {
  text-decoration: underline;
}
.snow {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
  animation: snow 3s infinite;
  animation-timing-function: linear;
}
.snow1 {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
}
@keyframes snow {
  from {
    top: 0px;
    left: 80px;
  }
  to {
    top: 100vh;
    left: 80px;
  }
}
.txtbox {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 5vw;
  font-weight: 600;
  top: 40%;
}
.txt {
  color: white;
}
@media screen and (max-width: 425px) {
  html {
    overflow: auto;
    background-size: contain;
  }
  img {
    display: none;
  }
  ul {
    flex-direction: column;
  }
  ul li {
    width: 100%;
    text-align: center;
  }
  ul li:not(:first-child) {
    display: none;
  }
}
