body {
  background: linear-gradient(#123 30%, #667);
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.ava {
  max-width: 100px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}
.link {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
}
.link:hover {
  text-decoration: underline;
}
.snow {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
  animation: snow 3s infinite;
  animation-timing-function: linear;
}
.snow1 {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
}
@keyframes snow {
  from {
    top: 0px;
    left: 80px;
  }
  to {
    top: 100vh;
    left: 80px;
  }
}
.txtbox {
  margin: 0 auto;
  width: 53%;
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
  top: 20%;
}
.txt {
  color: white;
  text-transform: capitalize;
}
.txtani {
  white-space: nowrap;
  animation: txt 3.5s linear infinite;
  display: inline-block;
  overflow: hidden;
}
.border {
  display: inline-block;
  animation: flash 0.5s infinite;
  border-right: 2px solid black;
  height: 5vw;
  text-overflow: clip;
}
@keyframes flash {
  from {
    border-right: 1px solid black;
  }
  to {
    border-right: 1px solid white;
  }
}
@keyframes txt {
  0% {
    width: 0;
  }
  50% {
    width: inherit;
  }
  100% {
    width: 0;
  }
}

@media screen and (max-width: 600px) {
  .ava {
    display: none;
  }
  ul {
    flex-direction: column;
  }
  ul li {
    width: 100%;
    text-align: center;
  }
  .txtbox {
    top: 40%;
  }
}
